<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>about</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
        <h1>About {{ aboutName }}</h1>
        <h2>SUMMARY</h2>
        <p>Hardworking employee with
customer service, multitasking and
time management abilities.
Devoted to giving every customer a
positive and memorable
experience. Motivated IT student
seeking internship in Web
Development to gain hands-on
experience. Outgoing and friendly
with strong drive to succeed.</p>
<h2>SKILLS</h2>
<ul>
<li>Java/ JavaScript, Python, Visual
Basic</li>
<li>HTML/CSS, React, Node.js,
MySQL</li>
<li>Microsoft Office, Tableau</li>
<li>Photoshop, Illustrator, After Effect
Piano, Photographic, and
Multimedia content creation</li>
</ul>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>